body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

input,
textarea {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

form {
  margin-bottom: 30px;
}

h1, h2, h3 {
  color: #222;
}